{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Urban Rentals</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/urban1.png'%}" rel="icon">
  <link href="{% static 'img/urban1.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}"rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'csss/styles.css'%}" rel="stylesheet">

</head>

<body>
  {% include "header.html" %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      {% for abouts in about %}
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="title-single-box">
            <h1 class="title-single">{{abouts.title}}</h1>
            <p>
              {{abouts.subtitle}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about">
    <div class="container">
      <div class="row">
        {% for abouts in about %}
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="{{abouts.headimage.url}}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">UrbanRentals</h3>
            <p>-Affordable and Comfortable-</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="{{abouts.footimage.url}}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
                <span>UrbanRentals Exclusive Property</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">{{abouts.heading}}
                  <span class="color-d"></span>
                  <br></h3>
              </div>
              <p class="color-text-a">
                {{abouts.description}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ About End /-->

  <!--/ footer Star /-->
  {% include "footer.html" %}
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'lib/popper/popper.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>
</html>
