{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Urban Rentals</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/urban1.png'%}" rel="icon">
  <link href="{% static 'img/urban1.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}"rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'csss/styles.css'%}" rel="stylesheet">

</head>

<body>
  {% include "header.html" %}

  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      {% for homeimage in homeimgs %}
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('{{homeimage.homeimage.url}}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">{{homeimage.location}}</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">{{homeimage.title}} </span>
                      <br> {{homeimage.subtitle}}</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="{% url 'property' %}"><span class="price-a">{{homeimage.status}} | Ksh. {{homeimage.price}}</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Property Star /-->
  <section class="property-grid grid section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap justify-content-between">
            <div class="title-box text-center">
              <h2 class="title-a">Featured Properties</h2>
            </div>
            <div class="title-link text-right">
              <a href="{% url 'property'%}">All Property
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
      <div class="col-md-8">
      <div class="row">
        {% for property_details in property %}
        <div class="col-md-6">
          <div class="card-box-a card-shadow" style="height: 321px;">
            <div class="img-box-a">
              <a href="{% url 'propertysingle' property_details.id %}"><img src="{{property_details.propertyphotos.url}}" alt="" class="img-a img-fluid"></a>
            </div>
            <div class="card-overlay">
              <div class="card-overlay-b-content">
                <div class="card-header-a">
                  <p>
                    <a class="card-title-z" href="{% url 'propertysingle' property_details.id %}">{{ property_details.title}}</a>
                  </p>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <a href="{% url 'propertysingle' property_details.id %}"><span class="price-aa">{{ property_details.status}}</span></a>
                  </div>
                  <div class="price-box d-flex">
                    <a href="{% url 'propertysingle' property_details.id %}"><span class="price-a">ksh. {{ property_details.price}} | {{ property_details.period}}</span></a>
                  </div>
                  <a href="{% url 'propertysingle' property_details.id %}" class="link-a">Read more
                    <span class="ion-ios-arrow-forward"></span>
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/rent.jpg' %}" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Epuka Shida ya LandLord</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>

          </div>
      </div>

      </div>
    </div>
  </section>
<!--/ Property End /-->

   <!--/ Services Star /-->
<section class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap justify-content-between">
          <div class="title-box text-center">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sercol">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="card-box-c foo">
            <div class="card-header-c">
              <div class="card-box-ico">
                <span class="fa fa-home"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d sericon">Property Management</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-box-c foo">
            <div class="card-header-c">
              <div class="card-box-ico">
                <span class="fa fa-gamepad"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d sericon">Property Letting</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-box-c foo">
            <div class="card-header-c">
              <div class="card-box-ico">
                <span class="fa fa-building"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d sericon">Property Sourcing</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-box-c foo">
            <div class="card-header-c">
              <div class="card-box-ico">
                <span class="fa fa-photo"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d sericon">Property Development</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-box-c foo">
            <div class="card-header-c">
              <div class="card-box-ico">
                <span class="fa fa-sort"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d sericon">Asset Valuation</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-box-c foo">
            <div class="card-header-c">
              <div class="card-box-ico">
                <span class="fa fa-user"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-d sericon">Property Advisory</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer-c text-center">
        <a href="{% url 'service' %}" class="link-c link-icon more-box">More on our Services
          <span class="ion-ios-arrow-forward"></span>
        </a>
      </div>
    </div>
  </div>
</section>
  <!--/ Services End /-->

  <!--/ News Star /-->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap justify-content-between">
            <div class="title-box text-center">
              <h2 class="title-a">Latest News</h2>
            </div>
            <div class="title-link text-right">
              <a href="{% url 'blog'%}">All News
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for blog_details in blog %}
        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="{{blog_details.blogimage.url}}" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="{% url 'blogsingle' blog_details.id %}" class="category-b"> {{blog_details.title}}</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="{% url 'blogsingle' blog_details.id %}">New {{blog_details.category}}
                      <br> blog is here!</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">{{blog_details.pub_date}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ News End /-->

  <!--/ footer Star /-->
  {% include "footer.html" %}
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'lib/popper/popper.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js'%}"></script>

</body>
</html>
